In [6]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
import plotly.graph_objects as go
import folium 
from folium import plugins

In [7]:
plt.rcParams['figure.figsize'] = 10, 12

In [10]:
df = pd.read_excel('COVID 19 ML Model Data/Covid cases in India.xlsx')

In [11]:
df.head()

,S. No.,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death
0,1,Andhra Pradesh,9,0,0,0
1,2,Bihar,3,0,0,1
2,3,Chhattisgarh,1,0,0,0
3,4,Delhi,30,1,6,1
4,5,Gujarat,32,1,0,1

In [12]:
df.tail()

,S. No.,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death
20,21,Jammu and Kashmir,7,0,1,0
21,22,Ladakh,13,0,0,0
22,23,Uttar Pradesh,34,1,11,0
23,24,Uttarakhand,3,1,0,0
24,25,West Bengal,9,0,0,1

In [15]:
daily = pd.read_excel('COVID 19 ML Model Data/per_day_cases.xlsx',parse_dates=True,sheet_name='India')

In [16]:
daily.head()

        Date  Total Cases  New Cases  Days after surpassing 100 cases
0 2020-01-30            1          1                              NaN
1 2020-01-31            1          0                              NaN
2 2020-02-01            1          0                              NaN
3 2020-02-02            2          1                              NaN
4 2020-02-03            3          1                              NaN

In [17]:
daily.shape

(56, 4)